# Text into Data

```yaml
Name:   Ji Hyun Kim 
Computing ID:   mqa4qu
Code Guide: M02_01_Importing-Persuasion
Purpose:    Convert a different text from raw text into a data frame of tokens and preserving its OHCO. Then extract some statistical features from the resulting corpus.
```

## Import

In [120]:
import pandas as pd
import configparser

In [121]:
config = configparser.ConfigParser()
config.read("../../../env.ini")

data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

data_home, output_dir

('/Users/jihyunkim/desktop/uva_docs/DS5001/data',
 '/Users/jihyunkim/desktop/uva_docs/DS5001/output')

In [122]:
text_file = f"{data_home}/gutenberg/pg161.txt"
csv_file  = f"{output_dir}/austen-sense-and-sensibility.csv"

OHCO = ['chap_num', 'para_num', 'sent_num', 'token_num']

In [123]:
LINES = pd.DataFrame(open(text_file, 'r', encoding='utf-8-sig').readlines(), columns=['line_str'])
LINES.index.name = 'line_num'
LINES.line_str = LINES.line_str.str.replace(r'\n+', ' ', regex=True).str.strip()
# LINES.head(10)

## Tasks

In [124]:
# Extract Title
title = LINES.loc[0].line_str.replace('The Project Gutenberg EBook of ', '')
print(title)

Sense and Sensibility, by Jane Austen

### Task 1: Clip the cruft
Remove Gutenberg's front and back matter using the lines that indicate the start and end of the project.

In [125]:
clip_pats = [
    r"\*\*\*\s*START OF (?:THE|THIS) PROJECT",
    r"\*\*\*\s*END OF (?:THE|THIS) PROJECT"
]

In [126]:
pat_a = LINES.line_str.str.match(clip_pats[0])
pat_b = LINES.line_str.str.match(clip_pats[1])

line_a = LINES.loc[pat_a].index[0] + 1
line_b = LINES.loc[pat_b].index[0] - 1

line_a, line_b

(20, 12666)

In [127]:
LINES = LINES.loc[line_a : line_b]
LINES.head(20)
LINES.tail(10)

                                                   line_str
line_num
12657
12658
12659
12660
12661
12662
12663
12664
12665     End of the Project Gutenberg EBook of Sense an...
12666

### Task 2
Chunk by chapter, using the pattern of locating the headers in the data frame, assigning them 
numbers, forward-filling those numbers, and then grouping by number (and cleaning up).

#### Task 2 - Chunk by Chapters

In [128]:
chap_pat = r"^\s*(?:chapter|letter)\s+\d+"
chap_lines = LINES.line_str.str.match(chap_pat, case=False)
LINES.loc[chap_lines]

            line_str
line_num
42         CHAPTER 1
196        CHAPTER 2
399        CHAPTER 3
561        CHAPTER 4
756        CHAPTER 5
858        CHAPTER 6
986        CHAPTER 7
1112       CHAPTER 8
1244       CHAPTER 9
1448      CHAPTER 10
1665      CHAPTER 11
1816      CHAPTER 12
1997      CHAPTER 13
2281      CHAPTER 14
2440      CHAPTER 15
2718      CHAPTER 16
2945      CHAPTER 17
3153      CHAPTER 18
3331      CHAPTER 19
3632      CHAPTER 20
3913      CHAPTER 21
4214      CHAPTER 22
4532      CHAPTER 23
4767      CHAPTER 24
5001      CHAPTER 25
5197      CHAPTER 26
5454      CHAPTER 27
5732      CHAPTER 28
5883      CHAPTER 29
6324      CHAPTER 30
6628      CHAPTER 31
7004      CHAPTER 32
7278      CHAPTER 33
7601      CHAPTER 34
7888      CHAPTER 35
8152      CHAPTER 36
8456      CHAPTER 37
8900      CHAPTER 38
9205      CHAPTER 39
9408      CHAPTER 40
9706      CHAPTER 41
9977      CHAPTER 42
10155     CHAPTER 43
10490     CHAPTER 44
11060     CHAPTER 45
11278     CHAPTER 46
11571     CHAPTER 47
11838     CHAPTER 48
11986     CHAPTER 49
12410     CHAPTER 50

#### Task 2 - Assign numbers

In [129]:
LINES.loc[chap_lines, 'chap_num'] = [i+1 for i in range(LINES.loc[chap_lines].shape[0])]
LINES.loc[chap_lines]

            line_str  chap_num
line_num
42         CHAPTER 1       1.0
196        CHAPTER 2       2.0
399        CHAPTER 3       3.0
561        CHAPTER 4       4.0
756        CHAPTER 5       5.0
858        CHAPTER 6       6.0
986        CHAPTER 7       7.0
1112       CHAPTER 8       8.0
1244       CHAPTER 9       9.0
1448      CHAPTER 10      10.0
1665      CHAPTER 11      11.0
1816      CHAPTER 12      12.0
1997      CHAPTER 13      13.0
2281      CHAPTER 14      14.0
2440      CHAPTER 15      15.0
2718      CHAPTER 16      16.0
2945      CHAPTER 17      17.0
3153      CHAPTER 18      18.0
3331      CHAPTER 19      19.0
3632      CHAPTER 20      20.0
3913      CHAPTER 21      21.0
4214      CHAPTER 22      22.0
4532      CHAPTER 23      23.0
4767      CHAPTER 24      24.0
5001      CHAPTER 25      25.0
5197      CHAPTER 26      26.0
5454      CHAPTER 27      27.0
5732      CHAPTER 28      28.0
5883      CHAPTER 29      29.0
6324      CHAPTER 30      30.0
6628      CHAPTER 31      31.0
7004      CHAPTER 32      32.0
7278      CHAPTER 33      33.0
7601      CHAPTER 34      34.0
7888      CHAPTER 35      35.0
8152      CHAPTER 36      36.0
8456      CHAPTER 37      37.0
8900      CHAPTER 38      38.0
9205      CHAPTER 39      39.0
9408      CHAPTER 40      40.0
9706      CHAPTER 41      41.0
9977      CHAPTER 42      42.0
10155     CHAPTER 43      43.0
10490     CHAPTER 44      44.0
11060     CHAPTER 45      45.0
11278     CHAPTER 46      46.0
11571     CHAPTER 47      47.0
11838     CHAPTER 48      48.0
11986     CHAPTER 49      49.0
12410     CHAPTER 50      50.0

#### Task 2 - Forward Filling chapter numbers

In [130]:
LINES.chap_num = LINES.chap_num.ffill()
# LINES.sample(10)
LINES.head(50)

                                                   line_str  chap_num
line_num
20                                                                NaN
21                                                                NaN
22                                                                NaN
23                                                                NaN
24                                                                NaN
25                                                                NaN
26                                                                NaN
27                                                                NaN
28                                                                NaN
29                                                                NaN
30                                                                NaN
31                                                                NaN
32                                                                NaN
33                                    SENSE AND SENSIBILITY       NaN
34                                                                NaN
35                                           by Jane Austen       NaN
36                                                                NaN
37                                                   (1811)       NaN
38                                                                NaN
39                                                                NaN
40                                                                NaN
41                                                                NaN
42                                                CHAPTER 1       1.0
43                                                                1.0
44                                                                1.0
45        The family of Dashwood had long been settled i...       1.0
46        was large, and their residence was at Norland ...       1.0
47        their property, where, for many generations, t...       1.0
48        respectable a manner as to engage the general ...       1.0
49        surrounding acquaintance.  The late owner of t...       1.0
50        man, who lived to a very advanced age, and who...       1.0
51        life, had a constant companion and housekeeper...       1.0
52        death, which happened ten years before his own...       1.0
53        alteration in his home; for to supply her loss...       1.0
54        into his house the family of his nephew Mr. He...       1.0
55        inheritor of the Norland estate, and the perso...       1.0
56        bequeath it.  In the society of his nephew and...       1.0
57        children, the old Gentleman's days were comfor...       1.0
58        attachment to them all increased.  The constan...       1.0
59        Mrs. Henry Dashwood to his wishes, which proce...       1.0
60        interest, but from goodness of heart, gave him...       1.0
61        comfort which his age could receive; and the c...       1.0
62                children added a relish to his existence.       1.0
63                                                                1.0
64        By a former marriage, Mr. Henry Dashwood had o...       1.0
65        lady, three daughters.  The son, a steady resp...       1.0
66        amply provided for by the fortune of his mothe...       1.0
67        and half of which devolved on him on his comin...       1.0
68        marriage, likewise, which happened soon afterw...       1.0
69        wealth.  To him therefore the succession to th...       1.0

#### Task 2 - Clean up

In [131]:
LINES = LINES.dropna(subset=['chap_num'])
LINES = LINES.loc[~chap_lines]
LINES.chap_num = LINES.chap_num.astype('int')
LINES.head(20)

                                                   line_str  chap_num
line_num
43                                                                  1
44                                                                  1
45        The family of Dashwood had long been settled i...         1
46        was large, and their residence was at Norland ...         1
47        their property, where, for many generations, t...         1
48        respectable a manner as to engage the general ...         1
49        surrounding acquaintance.  The late owner of t...         1
50        man, who lived to a very advanced age, and who...         1
51        life, had a constant companion and housekeeper...         1
52        death, which happened ten years before his own...         1
53        alteration in his home; for to supply her loss...         1
54        into his house the family of his nephew Mr. He...         1
55        inheritor of the Norland estate, and the perso...         1
56        bequeath it.  In the society of his nephew and...         1
57        children, the old Gentleman's days were comfor...         1
58        attachment to them all increased.  The constan...         1
59        Mrs. Henry Dashwood to his wishes, which proce...         1
60        interest, but from goodness of heart, gave him...         1
61        comfort which his age could receive; and the c...         1
62                children added a relish to his existence.         1

#### Task 2 - Group by Number

In [132]:
OHCO[:1]

CHAPS = LINES.groupby(OHCO[:1])\
    .line_str.apply(lambda x: '\n'.join(x))\
    .to_frame('chap_str')

CHAPS.head(10)

CHAPS['chap_str'] = CHAPS.chap_str.str.strip()
CHAPS.head(10)

                                                   chap_str
chap_num
1         The family of Dashwood had long been settled i...
2         Mrs. John Dashwood now installed herself mistr...
3         Mrs. Dashwood remained at Norland several mont...
4         "What a pity it is, Elinor," said Marianne, "t...
5         No sooner was her answer dispatched, than Mrs....
6         The first part of their journey was performed ...
7         Barton Park was about half a mile from the cot...
8         Mrs. Jennings was a widow with an ample jointu...
9         The Dashwoods were now settled at Barton with ...
10        Marianne's preserver, as Margaret, with more e...

### Task 3: Split Chapters into Paragraphs
Split resulting data frame into paragraphs using the regex provided

In [133]:
OHCO[:2]

['chap_num', 'para_num']

In [134]:
para_pat = r'\n\n+'

PARAS = CHAPS['chap_str'].str.split(para_pat, expand=True).stack()\
    .to_frame('para_str').sort_index()
PARAS.index.names = OHCO[:2]

PARAS.head(10)

                                                            para_str
chap_num para_num
1        0         The family of Dashwood had long been settled i...
         1         By a former marriage, Mr. Henry Dashwood had o...
         2         The old gentleman died: his will was read, and...
         3         Mr. Dashwood's disappointment was, at first, s...
         4         His son was sent for as soon as his danger was...
         5         Mr. John Dashwood had not the strong feelings ...
         6         He was not an ill-disposed young man, unless t...
         7         When he gave his promise to his father, he med...
         8         No sooner was his father's funeral over, than ...
         9         So acutely did Mrs. Dashwood feel this ungraci...

In [135]:
PARAS['para_str'] = PARAS['para_str'].str.replace(r'\n', ' ', regex=True)
PARAS['para_str'] = PARAS['para_str'].str.strip()
PARAS = PARAS[~PARAS['para_str'].str.match(r'^\s*$')]

PARAS.head(10)

                                                            para_str
chap_num para_num
1        0         The family of Dashwood had long been settled i...
         1         By a former marriage, Mr. Henry Dashwood had o...
         2         The old gentleman died: his will was read, and...
         3         Mr. Dashwood's disappointment was, at first, s...
         4         His son was sent for as soon as his danger was...
         5         Mr. John Dashwood had not the strong feelings ...
         6         He was not an ill-disposed young man, unless t...
         7         When he gave his promise to his father, he med...
         8         No sooner was his father's funeral over, than ...
         9         So acutely did Mrs. Dashwood feel this ungraci...

### Task 4: Split paragraphs into sentences
Split resulting data frame into sentences using the regex provided.

In [136]:
sent_pat = r'[.?!;:]+'
SENTS = PARAS['para_str'].str.split(sent_pat, expand=True).stack()\
    .to_frame('sent_str')
SENTS.index.names = OHCO[:3]

SENTS = SENTS[~SENTS['sent_str'].str.match(r'^\s*$')]
SENTS.sent_str = SENTS.sent_str.str.strip()

SENTS.head(10)
# SENTS.sample(10)

                                                                     sent_str
chap_num para_num sent_num
1        0        0         The family of Dashwood had long been settled i...
                  1         Their estate was large, and their residence wa...
                  2         The late owner of this estate was a single man...
                  3         But her death, which happened ten years before...
                  4         for to supply her loss, he invited and receive...
                  5         Henry Dashwood, the legal inheritor of the Nor...
                  6         In the society of his nephew and niece, and th...
                  7                      His attachment to them all increased
                  8                              The constant attention of Mr
                  9                                                   and Mrs

### Task 4: Split sentences into tokens
Split resulting data frame into tokens using the regex provided.

In [137]:
token_pat = r"[\s',-]+"
TOKENS = SENTS['sent_str'].str.split(token_pat, expand=True).stack()\
    .to_frame('token_str')

TOKENS.index.names = OHCO[:4]
# TOKENS.head(10)
TOKENS

                                        token_str
chap_num para_num sent_num token_num
1        0        0        0                  The
                           1               family
                           2                   of
                           3             Dashwood
                           4                  had
...                                           ...
50       22       0        8                  and
                           9          Sensibility
                           10                  by
                           11                Jane
                           12              Austen

[122882 rows x 1 columns]